// Place all the styles related to the tile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: Monospace;
  font-weight: bold;
  background-color: #cccccc;
  margin: 0px;
  overflow: hidden;
}

#tile_webgl {
  //  Disable all touch selecting
  * {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
  }
}

@-webkit-keyframes blink {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.0;
  }
}
blink {
  -webkit-animation-name: blink;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
  -webkit-animation-duration: 1.5s;
}

section#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: 0;
  blink {
    position: absolute;
    margin: -10px 0 0 -50px;
    left: 50%;
    top: 50%;
  }
  ul#menu {
    position: absolute;
    margin: 125px 0 0 -50px;
    left: 75%;
    top: 50%;
    a {
      text-decoration: none;
    }
    li {
      width: 200px;
      height: 30px;
      margin-bottom: 5px;
      border: 2px solid white;
      color: white;
      padding-top: 20px;
      text-align: center;
      list-style-type: none;
    }
    li:hover {
      background-color: #AD310B;
      -webkit-transition: background-color 500ms linear;
      -moz-transition: background-color 500ms linear;
      -o-transition: background-color 500ms linear;
      -ms-transition: background-color 500ms linear;
      transition: background-color 500ms linear;
    }
  }
}

#overlay.pass-through {
  pointer-events:none;
}